@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1536px;
  margin: auto;
}

h2 {
  font-size: 1.2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  /* Limit to 3 lines */
  line-clamp: 1;
}

nav {
  background: #000;
  color: #fff;
  padding: 10px 32px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  right: 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin-top: 2rem;
}

/********************* Movies List ***********/

.movies-container {
  padding: 2rem;
  margin-top: 60px;
}

.search-input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto 2rem;
  max-width: 400px;
  display: flex;
  align-items: center;
}
.search-input input {
  width: 100%;
  outline: none;
  border: none;
}
.search-input img {
  width: 20px;
  cursor: pointer;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(1, 250px);
  gap: 54px;
  padding-bottom: 10px;
  justify-content: center;
}

.no-movies {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin-top: 2rem;
}

/*********** Movie Card *************/

.movie-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  cursor: pointer;
}

.movie-card:hover {
  transform: translateY(-5px);
  transition: all 0.3s;
}

.movie-card img {
  border-radius: 10px 10px 0 0;
  background: lightgrey;
}

.movie-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto 10px;
}

.movie-card-container {
  padding: 10px;
}

.movie-overview {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  /* Limit to 3 lines */
  line-clamp: 3;
  font-size: 14px;
}

/*************** Loader *******************/

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  margin: 0 auto;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

/*************** Modal *******************/

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  margin: auto 10px;
  position: relative;
}

.backdrop-img {
  width: 100%;
  height: 230px;
  border-radius: 10px 10px 0 0;
  background: lightgrey;
  object-fit: cover;
}

.modal-overview {
  font-size: 14px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 30px;
  filter: invert(1);
}

/* Define a class to disable scrolling */
.disable-scroll {
  overflow: hidden;
}

/* Responsive Design */

@media (min-width: 624px) {
  .movies-grid {
    grid-template-columns: repeat(2, 250px);
  }
  .backdrop-img {
    height: 300px;
  }
}

@media (min-width: 920px) {
  .movies-grid {
    grid-template-columns: repeat(3, 250px);
  }
}

@media (min-width: 1224px) {
  .movies-grid {
    grid-template-columns: repeat(4, 250px);
  }
}
